/*==========
Bace
===========*/
/*
.smart-backround .first-img {
	position: fixed;
	z-index: -99;
	width: auto;
	height: 100vw;
	left: 0px;
	top: 85px;
}
*/
.smart-backround .second-img {
	position: fixed;
	z-index: -98;
	width: auto;
	height: auto;
	left: -90%;
	top: 85px;
}

@media(min-width:991px) {
.smart, .smart-backround {
	display: none;
}
}

.font-color-white p{
	font-weight: bold;
}
/*==========
nav
===========*/
.nav_logo {
	height: 2.5em;
	line-height: inherit;
}

@media(max-width:991px) {
.nav_logo {
	height: 1.7em;
}
}
/*==========
top
===========*/
h1 {
	z-index: 20;
}
.top-message {
	background-color: #037ef3;
}
.top-message p {
	font-family: "Yu Gothic", YuGo, YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	color: #ffffff;
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.111;/*	transform: matrix(0.999,-0.035,0.035,0.999,0,0);*/
}
.top-message h2, .top-message h3 {
	font-family: "Yu Gothic", YuGo, YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	color: #ffffff;
	font-size: 3.8em;
	font-weight: 700;/*	transform: matrix(0.999,-0.035,0.035,0.999,0,0);*/
}
.top-message h3 {
	position: relative;
}
.message-textarea {
	padding-top: 8em;
	padding-bottom: 8em;
}



@media(min-width: 600px) {
.top-message p {
	font-family: YuGo;
	color: #ffffff;
	font-size: 2.25em;
	font-weight: 700;
	line-height: 1.111;
	transform: matrix(0.999, -0.035, 0.035, 0.999, 0, 0);
}
.top-message h2, .top-message h3 {
	font-family: YuGo;
	color: #ffffff;
	font-size: 7.5em;
	font-weight: 700;
	transform: matrix(0.999, -0.035, 0.035, 0.999, 0, 0);
}
.top-message h3 {
	position: relative;
	left: 40%;
	width: 3em;
}
.message-textarea {
	margin-left: 30px;
	padding-top: 8em;
	padding-bottom: 8em;
}
}
/*==========
header
===========*/


/*==========
what aiesec
===========*/

/*==========
mission
===========*/
.our-mission {
	background-color: rgba(11,10,17,0.7);
	padding-top: 5em;
	padding-bottom: 5em;
}
.pf-english {
	font-weight: bold;
}
.pf-Japanese {
	margin-bottom: 2em;
}
/*==========
what we do
===========*/
.what-we-do {
	padding-top: 5em;
	padding-bottom: 5em;
	background-color: white;
}
.background-white {
	background-color: white;
}
.what-we-do h1 {
	margin-bottom: 0.5em;
}
.description a {
	margin-top: 1em;
}
.info {
	padding-top: 2em;
}
/*==========
president
===========*/
.roll-aiesec {
	margin-top: 1em;
}

@media(min-width:991px) {
.president-comment img {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 40vw;
}
}
/*==========
voice
===========*/

/*==========
LC List
===========*/
.LC-List {
	list-style-type: none;
	padding-top: 2em;
}
.LC-List .LCname {
	font-size: 1.8em;
}
.LC-List .fa {
	margin-right: 2px;
}

@media(min-width:991px) {
.join-us br {
	display: none;
}
}
/*==========
foum
===========*/
.sub-button {
	text-align: center;
}
/*==========
Loaded
===========*/

#BackMovie {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-size: cover;
	z-index: -100;
}
.header-title {
	z-index: 10;
}

.univ {
	color: #bbb;
}
